$primary-color: #333;
$secondary-color: rgba(212, 209, 209, 0.212);

.IdCard {
    color: $primary-color;
    padding: 20px;
    display: flex;
    /* border: 1px solid; */
    background-color: $secondary-color;
    border-radius: 15px;
}

ul {
    list-style-type: none;
}

img {
    border-radius: 15px;
}

.name {
    font-size: 2rem;
    margin-bottom: 5px;
}