.container {
    display: flex;
    justify-content: left;
    align-items: center;
  
}

.border{
    margin: 20px 0px;
    border: 1px solid black;
    align-items: center;
    height: 100px;
    display: flex;
    justify-content: center;
    width: 400px;
    align-items: center;
}


