.IdCard {
    width: 600px;
    margin: 20px auto;
    border: 1px solid black;
    display: flex;
}

.IdCard-left {
    margin: 10px;
}

.IdCard-right {
    margin-left: 20px;
    text-align: left;
}