.card-color{
    border: black 2px solid;
    width: 600px;
    height: 100px;
    display: flex;
    padding: 2px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.text{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    position: relative;
    left: 200px;
}
