
.logo {
    display: block;
    margin-left: 320px;
    margin-bottom: 20px;
    width: 50px;
    height: 30px;
    text-align: right;
    margin-top: 15px;

}
.creditCard  {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    border-radius: 15px;
    margin-bottom: 20px;
   
}
.number {
    font-size:32px ;
    text-align: center;
    margin: 10px;
}
.expires {
    margin-left: 20px;
    font-size: 16px;
}
.owner {
    margin-left: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}