body {
  /* margin: 0; */
  /* padding: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box {
  border: 1px solid black;
  padding: 5px;
  margin: 10px 0;
}

.BoxColor {
  text-align: center;
  padding: 20px;
}

.CreditCard {
  margin: 10px 0;
  padding: 15px;
  width: 300px;
  border-radius: 10px;
}

.CreditCard .type {
  text-align: right;
}

.CreditCard .type img {
  height: 20px;
}

.CreditCard .number {
  font-size: 1.9em;
  text-align: center;
  margin: 20px 0;
}

.CreditCard .bank {
  margin-left: 20px;
}

.Rating {
  font-size: 2rem;
}

.DriverCard {
  border: 1px solid black;
  padding: 15px;
}

.DriverCard img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100px;
}