.rating{
  font-size: 45px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-left: 3%;
}

.rating > span:before {
  content: "\2605";
  position: absolute;
}

.rating > div:before {
  position: absolute;
  display: inline;
}