.CreditCard {
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    height: 280px;
    margin: 20px;
    display: flex;
    flex-direction: column;
   
}

.logobanco {
    display: flex;
    justify-content: end;
}


.logobanco img{
    width: 80px;
    height: 40px;
    margin: 5px;

}

.targetnumber {
    font-size: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.expiration,
.owner {
    display: flex;
    margin-left: 10px;
}

.bank{
    margin-left: 10px;
}


