.Greetings-card {
    display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: flex-end;
    border: 1px;
    border-style: solid;
    margin-top: 8px;
    padding: 0px;
}

.Greetings-card p {
    margin: 0;
    padding: 5px;
}