.idcard {
    border: 1.5px solid black;
    padding: 4px;
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
}

.idcard img {
    height: 130px;
}

.idcard p {
    line-height: 5px;
    text-align: left;
    margin-left: 3px;
    margin-top: 7px;
}