.idcard-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
}

.profile-picture {
  width: 150px;
  margin: 5px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-info h3 {
  margin: 3px 0;
  padding: 0;
}

.profile-info h3 span {
  font-weight: normal;
}
