.Credit-Cards {
  padding: 1rem;
  border-radius: 1rem;
  margin: 2rem;
}

.type-CreditCard {
  color: blue;
  display: flex;
  justify-content: flex-end;
}

.number-CreditCard {
  display: flex;
  justify-content: flex-end;
}
