.bold{
    font-weight: bold;
}

.facebook-card{
    width: 750px;
    border: 2px blue solid;
    justify-content: start;
    display: flex;
    padding: 25px;
    margin-bottom: 10px;

}

.small{
    margin-right: 35px;
    border-radius: 0px;
    border: 1px blue solid;
}

.flex-ctry{
    justify-content: start;
}

.flex-specific{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.buttons-country{
    margin-bottom: 25px;
}