.Facebook {
  width: 500px;
  margin: 0 auto;
}

.profile {
  border: 1px solid black;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}

.Facebook img {
  width: 100px;
  margin-right: 20px;
}