.CreditCard {
  margin: 10px;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.CreditCardContainer {
  display: block;
  width: 360px;
  height: 210px;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}
.creditCardNumbers {
  text-align: left;
}
.creditCardImg {
  text-align: right;
  padding: 20px 20px 0 0;
}

.img2 {
  width: 40px;
  height: 25px;
}

.bigNumbers {
  font-size: 32px;
}

.bankCreditCard {
  text-align: right;
}
