.DriverCard {
  margin-left: 10px;
  text-align: left;
}

.driverCardContainer {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1a3ec2;
  margin: 10px;
}

.driverCardContainer img {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50px;
}
