.DriverCard {
  margin-left: 10px;
  text-align: left;
}

.driverCardContainer {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #425cbb;
  margin: 10px;
}

.driverCardContainer img {
  width: 110px;
  height: 100px;
  margin: 10px;
  border-radius: 100%;
}
