.credit-card {
  margin: 10px;
  padding: 1.3em;
  width: 18em;
  height: 8em;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.credit-card-type {
  align-self: flex-end;
  width: 60px;
}

.credit-card-number {
  align-self: center;
  font-size: 1.8em;
}
