.creditcard-card {
  width: 250px; 
  border-radius: 15px;
  background-color: sandybrown;
  padding: 10px;
  display: inline-block;
  margin-right: 15px;
}

.creditcard-card img {
  height: 15px;
  margin: 10px 10px 10px 200px;
}

.creditcard-number {
  font-size: 160%;
  text-align: center;
  margin: 10px 0;
}

.creditcard-details {
  font-size: 80%;
  margin: 0;
}