.box__boxColor {
    width: 80%;
    height: 80px;
    border: 1px black solid;
    padding: 5px;
    margin: 4px;
    display: flex; 
    flex-direction: column;
    display: inline-block;
}
.codeColor{
    text-align: center;
    padding: 20px;

}