.iteration1-container{
    display: flex;
    justify-content: center;
}

.card{
    display: flex;
    padding-top: 5px;
    border: 3px solid rgb(94, 93, 92);
    border-radius: 30px;
    padding-left: 25px;
    width: 30%;
    margin: 20px;
    background-color: rgb(185, 184, 184);
}

.card h5{
    padding: 0px;
    margin: 5px;
    font-weight: 400;
}

.card img{
    width: 90%;
    border-radius: 50%;
}