.driverCard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8fa2e8;
    border-radius: 10px;
    color: white;
    margin: 20px;
}


.image img {
    width: auto;
    height: 100%;
    margin: 0;
}
.image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.text {
    text-align: start;
}

.margin {
    margin: 10px 20px;
}