.driverCard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #455eb6;
    border-radius: 10px;
    color: white;
    margin: 20px;
}

.image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.image img {
    width: auto;
    height: 100%;
    margin: 0;
}

.text {
    text-align: start;
}

.margin {
    margin: 15px 25px;
}