.creditCard {
    border-radius: 15px;
    width: 45vh;
    height: 20vh;
}

.creditCard img {
    width: 16%;
    float: right;
    margin: 1vh;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.cardNumber {
    margin-top: 60px;
    margin-bottom: 12px;
    text-align: center;
    font-size: 30px;
}

.expire {
    font-size: 17px;
    margin-left: 2vh;
    
}

.owner {
    font-size: 17px;
    margin-left: 2vh;
    margin-top: 0;
}