.CreditCard {
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  max-width: 250px;
  border-radius: 4px;
  margin-bottom: 8px;
}
.Logo {
  width: 40px;
  align-self: flex-end;
  padding: 5px 0;
}

.Row,
.Owner {
  font-size: 0.8rem;
}
.Number,
.Row {
  padding: 5px 0;
}
.Row {
  display: flex;
}
.Bank {
  padding-left: 5px;
}
