.CreditCard {
    width: 35vh;
    padding: 15px;
    margin-right: 20px;
    border-radius: 10px;
}

.CreditCard img {
    display: flex;
    width: 15%;
    float:right;
}
  
.cardNumber {
    display:flex;
    font-size: 28px;
    align-self: center;
}
  
.expireDate, .owner {
    display: flex; 
    font-size:16px;
    margin: 0px;
    align-items: baseline;
}