.creditcard {

    border-radius: 15px;
    min-width: 20vw;
    height: 13vw;
    padding: 20px 20px;
    margin-right: 20px;
}

.creditcard img {
    height: 1.5vw;
    float: right;
}


h3 {
    text-align: center;
    font-size: 2.2vw;
    font-weight: 400;
    margin-top: 4vw;
    margin-bottom: 2vw;
}

.creditcard p:nth-child(3),
.creditcard p:nth-child(4) {
    display: inline;
    margin-right: 25px;
}

.creditcard p {
    line-height: 0.8px;
    font-size: 1vw;
}