.creditCard {
    margin: 20px;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    padding: 50px 20px 20px 20px;

}

.creditCardInfo {
    padding-bottom: 20px;
}

.logo img {
    width: 10%;
}

.info1 {
    display: flex;
    justify-content: flex-start;
}

.info1 p:last-child {
    padding-left: 30px;
}

.info2 {
    text-align: start;
}