.container {
    display: flex;
}

.CreditCard {
    width: 340px;
    height: 215px;
    margin: 20px 0px;
    border-radius: 10px;
}

img {
    width: 50px;
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}

h4 {
    text-align: center;
    font-size: 2.5rem;
}

.generalInformation {
    font-size: 18px;
    margin: -25px 20px;
}

.dataOwner {
    margin-top: -15px;
}