.CreditCard {
    border: 1px solid black;
    width: 280px;
    margin: 10px auto;
    padding: 24px;
    border-radius: 10px;
}

.imageCard {

   display: flex;
   justify-content: right;
}

.imageCard img {
    width: 50px;
}



.Dates {
    display: flex;
    margin-top: 16px;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}

.nameBank {
    margin-left: 30px;
}

span {
    font-weight: bolder;
    letter-spacing: 6px;
}

.hiddenNums {
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: 16px;
    text-align: center;
    
}