.box__greeting {
    display: flex;
    align-items: center;    
    border: 2px solid black;
    padding: 5px;
    height: 50px;
    width: 600px;
    margin: 40px;
}

.greeting {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(red, green, blue)
}