
.IdCard{
    height: 170px;
    width: 700px;
    display:flex;
    flex-direction: row;
    align-items: center;
    border:solid black;
    margin:10px;
}

.img-IdCard{
    width: 150px;
    height: 150px;
    margin-left:10px;
}

.char-IdCard{
    line-height: 10px;
    margin-left:10px;
}