.form-outer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}