.App {
  padding: 20px 60px;
}

.section {
  margin: 40px 0;
  width: 50vw;
}
.singleCard {
  display: flex;
  align-items: center;
  line-height: 1;
  border: 1px solid grey;
  margin: 10px 0;
  padding: 10px;
}

.singleCard img {
  height: 160px;
  margin-right: 40px;
}
