.id-card {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(41, 40, 40);
  padding: 10px;
  margin: 10px;
}
.id-card p {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 10px;
}