.clickable {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    width: fit-content;
    padding: 1rem;
}

.clickable img {
    width: 10rem;
}