.card {
    border: 2px solid #000;
    margin: 20px;
}

.avatar {
    width: 200px;
    margin: 30px;
}

.info {
    margin-top: 30px;
    font-size: 20px;
}

.buttonCountry {
    margin: 5px 10px;
}