.IdCard {
    background-color: #c8eed9;
    border: 0.2rem solid #4e3620;
    border-radius: 1rem;
    margin: 2rem;
    text-align: left;
    padding: 2rem;
}

.IdCard .IdCarImage {
    float: left
}