@import "./assets/css/constants";
@import './assets/css/mixins';
/* will be decrecated, @use but it is not compiled yet */

.Intro {
    background-color: $secondary-color;
    @include container-ext;
    padding: 10px;

    h1 {
        font-size: 1.3rem;
        font-weight: 400;
    }

    img {
        width: 40px;
    }
}
