input {
width: 40px;
}

label {
    padding-left: 1rem;
}

.caja {
    width: 40px;
    height: 40px;
}

.RGBColorPickerDiv {
    display: flex;
    justify-content: left;
    align-items: center;
}

