.start-color {
    color:  black;
}
li {
    list-style: none;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 0 10px;
}
span.stars span::before{
    content: "\2605";
    position: absolute;
}
span.stars span:hover::before{
    content: "\2605";
    position: absolute;
}