.driver-card-img {
  background: 50% 50% no-repeat; /* 50% 50% centers image in div */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  


}

.driver-card{
  border-radius: 5px;
  color: white;
  text-align: center;
}