@import "./assets/css/mixins";

.NumbersTable {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Number {
    border: 2px solid #f542dd;
    padding: 10px;
    border:grey;
}