img.card-img-top {
    width: 200px;
}
.card {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
.card-body {
    width: 400px;
}
p {
    margin: 0;
    font-size: 30px;
}
b {
    /* font-size: 25px; */
}