@import "./assets/css/mixins";


.SignupPage {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .inputs15 {
        width: 350px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > input, > select {
            width: 200px;
        }
    }

    > form {
        margin-bottom: 50px;
    }
}
