.driver-card {
    width: 60vw;
    height: 18vh;
    background-color: rgba(55, 78, 179, 0.932);
    border-radius:15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.driver-card img {
    height: 16vh;
    width: 9vw;
    border-radius: 50%;
}
.driver-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    padding: 10px;
}
.car-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.center-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}