img {
    width: 100px;
}



.numbers {
    border: 1px solid black;
    display: inline-flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black
}

.red {
    background-color: red;
}