.IdCard {
    display: flex;
    flex-direction: row;
    min-height: 200px;
    margin: 0 auto;
    width: 100vw;
    border: 1px solid #000;

}

.profile-pic {
    height: 200px;
    width: auto;
    margin-left: 0px;
    margin-right: 20px;
}

p {
    text-align: left;
}