.box {
  border: 1px solid black;
  padding: 5px;
  margin: 10px 0;
  width: 70rem;
}

.IdCard {
  display: -webkit-flex;
  display: flex;
}

.IdCard img {
  margin-right: 5px;
}

.BoxColor {
  text-align: center;
  padding: 20px;
}

.CreditCard {
  margin: 10px;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  display: inline-block;
}

.CreditCard .type {
  text-align: right;
}

.CreditCard .type img {
  height: 20px;
}

.CreditCard .number {
  font-size: 1.9em;
  text-align: center;
  margin: 20px 0;
}

.CreditCard .bank {
  margin-left: 20px;
}

.Rating {
  font-size: 2rem;
}

.DriverCard {
  background-color: #425cbb;
  border-radius: 10px;
  color: white;
  padding: 15px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  margin: 10px;
  width: 70rem;
}

.DriverCard > * {
  margin: 5px;
}

.DriverCard img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100px;
}

.DriverCard .right > * {
  margin: 0;
}

.ClickablePicture {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.like-btn-container{
  display: inline;
}
.like-btn{
  width: 10rem;
  margin: 1rem;
}

.dice-img{
  width: 10rem;
}
.carousel-container{
  display: flex;
}
.square{
  border: 2px solid black;
  width: 6rem;
  height: 6rem;
  display: inline-flex;
  align-items: center;
}
.square>p{
  text-align: center;
  width: 100%;
  font-size: 2rem;
}

.arrow-left{
  width: 10rem;
}