.carousel {
  position: relative;
  width: 300px;
}
.carousel img {
    width: 100%;
}

.carousel button {
  position: absolute;
  top: calc(50% - 15px);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.carousel button:first-child {
    left: 0;
}

.carousel button:last-child {
    right: 0;
}
