.img-pr {
<<<<<<< HEAD
=======
    cursor: pointer;
>>>>>>> 086254ac0badf963babf38220414f5cd30ae81ca
    background-position: center;
    background-size: cover;
    position: relative;
    height: 460px;
    width: 460px;
    margin-bottom: 20px;
}

.img-over {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}