.main-credit{
    display: flex;
    flex-direction: row;
}

.credit-card{
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    width: 250px;
    padding: 10px;
    margin: 5px
}

.credit-card p {
    display: flex;
    flex-direction: column;
}