.diceContainer{
    background-color: grey;
    width:130px;
    height:130px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.diceContainer img{
    border-radius:0px;
}