.DriverCard {
  background-color: #425cbb;
  border-radius: 10px;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.DriverCard img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100px;
}