.driver-card {
    background-color: #455EB5;
    border-radius: 10px;
    width: 60%;
    padding: 20px;
    margin-bottom: 20px;
}

.avatar {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 100px;
}

.car-info {
    font-size: 15px;
}

.info-container {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
}

.avatar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.rating>p {
    margin-bottom: 0px;
}

.square-li {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: left;
    border: 1px solid;
}

ul {
    list-style: none;
}

.facebook-img {
    max-height: 200px;
}

.facebook-card {
    background-color: #fff;
    color: black;
    text-align: left;
    margin-bottom: 30px;
    padding: 20px;
}

.facebook-data {
    padding-left: 80px;
    font-size: 24px;
}

.card-blue {
    background-color: cornflowerblue;
}