.FaceBook {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 10px 0;
}

.FaceBook img {
  margin-right: 5px;
  width: 120px;
  height: auto;
}

.ButtonGroup .Button {
  margin: 5px;
  padding: 8px;
  border: 1px solid gray;
  font-size: 1.2em;
}