.facebook {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 20px 0 0 20px;
	border: 2px solid black;
	width: 500px;
}

.facebook img {
	margin: 5px 0 5px 5px;
	height: 200px;
}

.facebook ul li {
	list-style: none;
}

.country-button {
	height: 50px;
	width: 150px;
	background-color: coral;
}