.FBCard{
    
    border:1px solid black;
    margin:10px;
    display:flex;
    padding:5px;
}

.FBCard img{
    border-radius:0;
}

.filters li{
    display:inline-block;
    border:1px solid black;
    margin:5px 5px;
    padding: 3px 7px;
} 

.filters li:hover{
    background:#A8D2E2;
}

.blueBackground{
    background:#A8D2E2;
}