.IdCard {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 3px solid black;
    margin-bottom: 7px;
    line-height: 2pt;
    margin-right: 25%;
    margin-left: 25%;

}

img{
    width: 120px;
    height: 120px;
}
    
.card {
    margin: 0;
}

span {
    font-weight: bold; 
}