.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    border: 1px solid black;
    margin: 15px;
}

.info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}