.idcard{
    display: flex;
    flex-direction: row;
    border: 1px solid;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 800px;
    padding-left: 5px;
}

.idcard>img{
    width: 200px;
    height: 200px;
}

.idcard>div{
    text-align: left;
    padding-left: 5px;
}