.LikeButton {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.LikeButton>button {
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    color:white;
    padding: 5px 10px;
}