.SingleColorPicker {

    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .colorSquare {
        height: 25px;
        width: 25px;
        border: 2px solid black;
        display: inline-block;
        margin-right: 5px;
    }
}