.SingleColorPicker {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin:30px
}

.square {
  height: 50px;
  width: 50px;
  border: 2px solid black;
}

.SingleColorPicker > h2{
    margin: 0 0.5rem 0 0.3rem;
  }

.SingleColorPicker > input{
    width: 10vw;
  }