.driver-container {
    display: flex;
    width: 760px;
    padding: 30px;
    margin-top: 10px;
    background-color: rgb(61, 61, 151);
    border-radius: 20px;
    color: white;
}

.image {
    position: relative;
    left: 25%;
}

.image img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 28%;
}

.info h4 {
    font-size: 32px;
    margin: 0;
}