.cardContainer {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(51, 51, 180);
    color: white;
    margin-bottom: 20px;
    height: 150px;
}

.cardContainer h3 {
    margin-bottom: 0;
    font-size: 1.5em;
}

.profileImg {
    margin-top: 20px;
    margin-right: 50px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}