.button-carousel {
    width: 90%;
    display: flex;
    margin: auto;

}

.button-carousel button {
    width: 100px;
    height: 50px;
    margin: 10px;
    font-size: 15px;
    text-align:center;
    display: block;

}

.button-carousel img {
    width: 400px;
}