.credit-card{
    width: 21em;
    height: 11.5em;
    border-radius: 3%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

.logo{
    display: flex;
    justify-content: flex-end;
    margin: 1em;
    height: 1em;
}

.logo img{
    width: 3em;
    height: 1.2em;
}
.number{
    font-size: 1.7em;
    margin: 0;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1.5em;
    margin-bottom: 0.5em;
}

.info p{
    margin: 0;
}
