
  .credit-card {
      box-sizing: border-box;
    display:flex;
    flex-direction: column;
    margin: 5px 5px 5px 10px;
    border-radius: 10px;
    width: 300px;
    height: 180px;
    position: relative;
    padding: 2%;
  }
  .img_cb {
      position: relative;
      left: 85%;

    width: 15%;

    margin: 5% 2%;
  }

  .CBdigits {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 2% 2% 5% 2% ;

  }
  .expiration {
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 10px;
  }
  .CBowner {
    display:flex;
    justify-content:flex-start;
    align-items: flex-start;
    margin-left: 10px;
  }

  .CBdetails {
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 10px;

  }

  .bank {
    margin-left: 10%;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
