:root {
  --grid-spacing-vertical: var(--spacing);
}

body {
  padding: calc(var(--spacing) * 4) 1rem;
}

.App > :first-child {
  margin-top: 0;
}

article > :last-child {
  margin-bottom: 0;
}

#root {
  max-width: 1000px;
  margin: 0 auto;
}

.grid > article {
  margin-top: 0;
  margin-bottom: 0;
}

.grid + .grid {
  margin-top: var(--grid-spacing-vertical);
}

@media (min-width: 992px){
  .grid {
      grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
  }
}

h2 {
  border-bottom: 2px solid var(--range-border-color);
  margin-top: calc(var(--spacing) * 4);
}

h1:only-child,
h2:only-child,
h3:only-child,
h4:only-child,
h5:only-child,
h6:only-child {
  margin-bottom: 0;
}

button {
  border: none;
}

.greeting {
  display: grid;
  place-items: center;
  text-align: center;
}

.color-details {
  background-color: #fff;
  border-radius: var(--border-radius);
  margin: 0 auto;
  padding: 0 0.5rem;
  text-align: center;
  width: max-content;
}

small {
  font-size: 0.7rem;
  line-height: 1.8;
  display: block;
}

.credit-card img {
  display: block;
  margin: 0 0 1rem auto; 
  min-height: 30px;
  object-position: top;
  object-fit: contain;
}

.rating {
  text-align: center;
}

.drivercard {
  background-color: #455EB5;
  text-align: center;
}

.drivercard * {
  color: #fff;
}

.drivercard img {
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.drivercard h3 {
  margin-bottom: 1rem;
}


/*----- BTN LIKE -----*/

.btn-like {
  border: none;
  box-shadow: none;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
  position: relative;
}

.btn-like .text {
  padding-top: 4rem;
  display: block;
}

.btn-like .icon {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .btn-like .icon {
    transform: rotate(0);
    transition-property: transform, font-size, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }

  .btn-like:active .icon {
    font-size: 4rem;
    transform: rotate(40deg);
    transition-property: transform, font-size, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }
}

/* ----- CAROUSEL ------ */

.carousel img {
  margin: 0 auto;
  display: block;
  margin-bottom: 1rem;
}

/* ----- CAROUSEL ------ */

.numbers-table article:nth-child(even) {
  background-color: #c63925;
}

/*------ FACEBOOK ------*/

.facebook img {
  border-radius: 50%;
  display: block;
  object-fit: cover;
  margin: 0 auto 1rem;
  min-height: 150px;
}

.facebook .filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  justify-items: stretch;
  align-content: stretch;
  gap: 0.75rem;
  margin-bottom: 2rem;  
}

.facebook .filter button {
  background-color: rgb(69, 94, 181);
  display: inline-block;
  font-size: 0.9rem;
  padding: 0.5rem;
  margin-bottom: 0;
  width: auto;
}

.facebook article.highlighted,
.facebook button.highlighted {
  background-color: rgb(115, 51, 165);
}

.facebook article {
  text-align: center;
}

.facebook h4 {
  margin-bottom: 1rem;
}