.idCard {
    border: 1px solid black;
    display: flex;
    margin: 1vh 1vw;
    padding: .5vh .5vw;
}

.idInfos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1vw;
}


.bold {
    font-weight: bold;
}