.idCard{
    display:flex ;
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
    border: 1px solid black;
    margin: 15px;
}

.parafun{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}