.buttondiv{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.button{
    display: inline;
    margin: 20px;
    padding: 10px 30px;
    background-color: purple;
    color: white;
}