@import "./assets/css/mixins";

.DriverContainer {
    @include container-col;
}

.DriverdCard {
    @include container;
    border: 1px solid #455eb5;
    padding: 10px;
    margin-bottom: 20px;
    width: 40%;
    border-radius: 15px;
}

.driverCardimg {
    width: 150px;
    margin: 0px;
    height: 140px;
    object-fit: cover;
}