.image{
    display: inline-block;
    display:left;
    width: 150px;
    height: 145px;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

.container{
    display:flex;
    text-align:center;
    text-align-last: left;
    height: 3%;
}