.CreditCard {
    margin: 5px;
    padding: 20px;
    border-radius: 15px;
    font-size: 16px;
    width: 320px;
    display: inline-block;
}

.CreditCard>.type {
    text-align: right;
}

.CreditCard>.type>img {
    height: 15px;
}

.CreditCard>.number {
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
}

.CreditCard .expire {
    margin-right: 20px;
}