body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Flex {
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin: 10px 10px;
  padding: 0 10px;
}

.just-cont {
  flex-direction: column;
  justify-content: center;
}

.imgCard {
  margin: 0 10px;
}

.text-center {
  text-align: center;
}

.CreditCardContainer {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.CreditCard {
  height: 200px;
  width: 30%;
}

.imgCreditCard {
  width: 50px;
}

.white-text {
  color: #ffffff;
  font-size: 16px;
}
