body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  margin: 10px;
}

.card-image{
  height: max-content;
  padding: 8px;
}

.card-info p{
  margin: 7px;
  font-weight: bold;
}

.card-info span{
  font-weight: normal;
}

.greetings-card {
  border: 2px solid black;
  margin: 10px;
  padding: 2px;
}

.random-card {
  border: 2px solid black;
  margin: 10px;
  padding: 2px;
}

.boxcolor {
  border: 2px solid black;
  margin: 10px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
}

.credit-card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  width: 20%;
  margin: 10px;
  padding: 5px;
}

.card-logo img{
  height:30px;
  width: 60px;
  padding: 10px;
}

.card-logo{
  display: flex;
  justify-content: flex-end;
}

.middle-card {
  text-align: center;
  font-size: larger;
  margin: 10px;
}

.lower-card{
  padding: 10px;
}
