body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p{
  border: 1px solid black;
  padding: 5px;
  width: auto;
  margin: 5px;
}

.container {
  height: fit-content;
  width: auto;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  margin: 5px;

}

.cardinfo {
  padding-left: 5px;
}

.cardinfo span{
  font-weight: bold;
}

.cardinfo p{
  border: 0;
  padding: 0;
  margin: 0;
}

.boxcolor {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  width: auto;
  margin: 5px;
}

.white {
  color: white;
}