body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.border {
  width: auto;
  height: 3em;
  display: flex;
  align-items: center;
  margin: 1em;
  border: 0.1em solid black;
}

.boder p {
  font-size: 1.5em;
  margin-left: 0.5em;
}