body {
    margin: 0 200px 0 200px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.idCard {
    border: 0.1em solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    div {
        margin: 20px;
        img{
            width: 200px;
        }
    }
}

.greetings {
    border: 0.1em solid black;
    text-align: center;
    margin: 5px;
}

.random {
    border: 0.1em solid black;
    text-align: center;
    margin: 5px;
}

.creditCard {
    margin: 5px;
    display: flex;
    justify-content: center;
    div {
        padding: 15px;
    }
    #account {
        font-size: 30px;
        text-align: center;
    }
}

.driverCard {
    background-color: #1e67a3;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 0.1em solid black;
    p{
        text-align: center;
    }
}

.rating {
    display: flex;
    justify-content: center;
}

.likeButton {
    background-color: #acb436;
    border: 0.1em solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    button{
        padding: 1em;
        height: 50px;
    }
}

.clickPic {
    border: 0.1em solid black;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.dice {
    border: 0.1em solid black;
    display: flex;
    justify-content: center;
    padding: 20px;
    svg {
        height: 300px;
        width: 300px;
    }
}

.carousel {
    border: 0.1em solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 20px;
    img {
        width: 250px;
        margin: 20px;
    }
    button {
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size: x-large;
        height: 50px;
    }
}
