
img{
    width:10%;
    position:relative;
}
.IdCard {
    display: flex;
}
.box{
    border: 1px solid #000;
    padding: 5px;
    margin: 10px 0;
}
strong {
    font-weight: bold;
    margin-right: 5px;
    margin-left: 10px;
}
