body {
  /* margin: 0; */
  /* padding: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.box {
  border: 1px solid black;
  padding: 5px;
  margin: 10px 0;
}

.IdCard {
  display: flex;
}

.IdCard img {
  margin-right: 5px;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.BoxColor {
  text-align: center;
  padding: 20px;
}

.CreditCard {
  margin: 10px;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  display: inline-block;
}

.CreditCard .type {
  text-align: right;
}

.CreditCard .type img {
  height: 20px;
}

.CreditCard .number {
  font-size: 1.9em;
  text-align: center;
  margin: 20px 0;
}

.CreditCard .bank {
  margin-left: 20px;
}

.Rating {
  font-size: 2rem;
}

.DriverCard {
  background-color: #425cbb;
  border-radius: 10px;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.DriverCard > * {
  margin: 5px;
}

.DriverCard img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100px;
}

.DriverCard .right > * {
  margin: 0;
}

.Dice {
  height: 100px;
  width: 100px;
}

.ClickablePicture {
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.Dice {
  cursor: pointer;
}

.NumbersTable {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.NumbersTable li {
  margin: 0;
  list-style-type: none;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.RGBColorPicker {
  /* display: flex; */
  align-items: center;
}

.SingleColorPicker input {
  width: 80px;
}

.flex-align-items-center {
  display: flex;
  align-items: center;
}

.color-box {
  height: 40px;
  width: 40px;
  border: 2px solid black;
  margin: 5px;
}

.color-box input {
  width: 100%;
}
