.Number0 {
    background-color: #fff;
    padding: 25px;
    display: inline-block;
    border: 1px solid #000;
}

.Number1 {
    background-color: rgb(114, 14, 14);
    color: #fff;
    padding: 25px;
    display: inline-block;
    border: 1px solid #000;
}