.table {
    margin: 30px 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
    grid-auto-rows: minmax(100px, auto);
}

.square {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}