.boxContainer {
    display: flex;
    flex-direction: row;
}
.even {
    border: 1px solid black;
    font-size: 42px;
    padding: 20px;
    background-color: red;
}
.odd {
    border: 1px solid black;
    font-size: 42px;
    padding: 20px;
}