.numbers {
  display: flex;
  flex-wrap: wrap;
}
.red {
  border: 2px solid black;
  width: 5%;
  padding: 10px;
  background-color: red;
  color: white;
}

.white {
  border: 2px solid black;
  width: 5%;
  padding: 10px;
  background-color: white;
}
