.idcard {
    display: flex;
    gap: 1rem;
    border: 1px solid black;
    padding: 0.5rem;
    margin: 10px 0px;
}

.greeting {
    border: 1px solid black;
    margin: 10px 0px;
}

.random {
    border: 1px solid black;
    margin: 10px 0px;
}

.credicard {
    width: 400px;
    height: 150px;
    padding: 15px;
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.credicard span {
    padding-left: 10px;
}

.credicard p {
    margin: 0;
    align-self: self-start;
    justify-self: flex-end;
}

.credicard h6 {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
}

.credicard img {
    width: 50px;
    align-self: flex-end;
}

.drivercard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: blueviolet;
    border-radius: 20px;
    padding: 20px;
    gap: 1rem;
    margin: 5px 0;
}

.drivercard-right {
    color: white;
}

.drivercard-right p {
    margin: 0;
}

.drivercard img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.flex {
    display: flex;
    gap: 1rem;
}

.mt-5 {
    margin-top: 5px;
}

.perroMeme {
    position: relative;
}

.gafas {
    position: absolute;
    z-index: 5;
    top: 60px;
    left: 85px;
}