.App {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.id-card {
  display: flex;
  padding: 10px;
  border: solid;
}

.text-output {
  padding: 10px;
  border: solid;
}

p,
h1,
h2 {
  padding: 0;
  margin: 0;
}

.color-box {
  height: 100px;
  border: solid;
}

.color-box-text {
  margin-top: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.color-box-text:hover {
  background-color: white;
}

.bank-cards {
  display: flex;
  gap: 10px;
}

.one-bank-card {
  padding: 15px 20px;
  border-radius: 10px;
  min-width: 250px;
}

.exp-bank {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card-text {
  font-size: 0.8rem;
}

.type-logo {
  font-size: 1.2rem;
  text-align: right;
}

.card-number {
  font-size: 1.7rem;
  text-align: center;
  font-weight: initial;
  margin-top: 20px;
}

.card-logo {
  height: 15px;
  display: flex;
  justify-content: right;
}

.card-logo img {
  height: 100%;
}

.driver-card {
  display: flex;
  flex-direction: row;
  background-color: rgb(55, 109, 196);
  border-radius: 10px;
  padding: 15px 0;
  justify-content: center;
}

.driver-card-inner {
  display: flex;
  gap: 10px;
  min-width: 35%;
}

.driver-image {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.driver-image img {
  height: 100%;
}

.driver-info {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}

.driver-car {
  display: flex;
  gap: 0.5ch;
  font-size: 0.8rem;
}

.driver-name {
  font-size: 1.4rem;
}

.driver-rating {
  font-size: 1.5rem;
}

.like-button {
  padding: 5px 10px;
  display: inline-block;
  margin-left: 10px;
}

.dice-image {
  width: 100px;
  height: 100px;
  margin: 10px;
}

#carousel-container {
  display: flex;
  margin: 10px;
}

.number-table {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
  margin: 30px 10px;
}

.number-table-square {
  border: solid;
  border-width: 1px;
  width: 98px;
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.facebook-container {
  display: flex;
  margin: 15px 10px;
  padding: 10px;
  border: solid;
  border-width: 1px;
  gap: 10px;
}

.facebook-image-container {
  width: 20%;
  overflow: hidden;
}

.facebook-image {
  width: 100%;
}

.facebook-information-container ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1.2rem;
}

.facebook-list-headline {
  font-size: 1.2rem;
  font-weight: bold;
}
