.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.idcard {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid black;
}

.boxColor {
  color: white;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  width: 400px;
  height: 50px;
}

.creditCard {
    border: 0px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ddbb55;
    color: white;
    margin: 10px;
}

.card{
  display:flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
  background-color: rgb(110, 110, 253);
  color: whitesmoke;
  border-radius: 10px;
  margin-bottom: 20px;
}

.cardContent{
  width:400px;
  margin-left: 15px;
  padding:10px;
}

.imgCard{
  width:150px;
  height:150px;
  border-radius:100px;
}