.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Card{
  margin:10px ;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border:solid
  
}
.textCard {
  padding-left: 5px;
  padding-bottom: 30px;
  font-size: 18px;
  text-align: left;
  line-height: 5%;
}


.gretting{
  border: solid;
  margin: 10px;
  font-size: 30px;
  text-align: left;

}
.boxcolor{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.card{
  
  border-radius: 20px;
  width: 400px;
  height: 200px;
  margin: 20px;
}

.imgCard{
  padding: 20px;
  text-align: right;
}

.dateCard{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-left: 20px;
}

.bank{
  padding-left: 20px;
}

.owner{
  text-align: left;
  padding-left: 20px;
}

.number{
  font-size: 35px;
}
.allCard{
  display: flex;
  flex-direction: row;
}
.driverCard{
  background-color: rgb(50, 52, 168);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
}
.driverCardImg img{
  width: 100px;
  height: 100px;
  border-radius: 400px;
  padding: 10px;
}
.divDriverCard{
  text-align: left;
  font-size: 18px;
  line-height: 10px ;
}
.AppDriveCard{
 display: flex;
 flex-direction: column;
 align-items: center;
}
.likeButton{
  width: 200px;
  height: 100px;
  border-radius: 30px;
  font-size: 40px;
}
.clickPicture img{
  width: 200px;
  height: 200px;
}