.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e8e8e8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3e3e3e;
}

.App-link {
  color: #61dafb;
}

hr {
  border-color: #3e3e3e !important;
  border-width: 1px !important;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.space {
  height: 30px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}