body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titles {
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
  margin-top: 3rem;
}

/**************
*** ID CARD ***
**************/

.IdCard-box {
  display: flex;
  font-size: 1rem;
  border: 1px solid black;
  margin: 0.5rem;
  width: 24rem;
}

.profile-img {
  width: 11rem;
  margin: 0.3rem;
}

/****************
*** GREETINGS ***
****************/

.greetings-box {
  font-size: 1.5rem;
  border: 2px solid black;
  width: 24rem;
  margin: 0.5rem;
  padding: 0.5;
  text-align: center;
}

/*****************
*** RANDOM NUM ***
*****************/

.random-box {
  font-size: 1.4rem;
  border: 1.5px solid black;
  text-align: center;
  padding: 0.5rem;
}

/****************
*** BOX COLOR ***
****************/

.flag {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.box-color {
  font-size: 1rem;
  border: 1.5px solid black;
  height: 14rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90);
}

.rgb-color-text {
  transform: rotate(-90deg);
}

/******************
*** CREDIT CARD ***
******************/

.credit-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.credit-card-container {
 display: flex;
 flex-direction: column;
 border-radius: 0.8rem;
 margin: 1rem 1.5rem 2rem 1rem;
 width: 27rem;
}

.type-of-card {
  width: 4rem;
  margin: 2rem 2rem 0 19rem;
}

.expiration-date {
  display: flex;
  justify-content: center;
  font-size: 2.3rem;
  margin: 2rem 0;
}

.information-container {
 font-size: 1rem;
  margin-left: 3rem;
}

.information-box {
  display: flex;
  height: 3rem;
}

.bank {
  margin-left: 1rem;
}

.owner {
  margin: 0 0 2rem 0;
}

/*************
*** RATING ***
*************/

.rating-container {
  font-size: 2.5rem;
}

/******************
*** DRIVER CARD ***
******************/

.driver-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  background-color: #455EB4;
  width: 55rem;
  border-radius: 1rem;
}

.drivercard-img {
  width: 7rem;
  height: 7rem;
  border-radius: 10rem;
}

.driver-info-box {
  color: white;
  margin-left: 1rem;
  font-size: 1.3rem;
  width: 20rem;
}

/******************
*** LIKE BUTTON ***
******************/

.like-button {
  font-size: 1.5rem;
  margin: 1rem 1rem;
  border-radius: 0.4rem;
}

.like-button:active {
  transform: translateY(3px);
  box-shadow: 1px 1px 2px 1px grey;
}

.like-button:focus {
  outline: none;
}

/***********
*** DICE ***
***********/

.dice-image {
  width: 15rem;
}