.IdCard img{
    height: auto;
    margin: 6px;
}

.IdCard p {
    margin: 6px;
}

.IdCard {
    display: flex;
    justify-content: left;
    border: 2px solid black;  
    margin: 4px
}

.border {
    border: 2px solid black;
}

.credit{
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
}

.creditExp{
    display: flex;
    margin: 0 0 0 12px;
}

.bank {
    margin-left: 24px;
}

.creditCard {
    border: 1px solid black;
    width: 30%;
    border-radius: 6%;
}

.brand {
    display: flex;
    justify-content: flex-end;
}

.creditNum {
    display: flex;
    justify-content: center;
}

.owner {
    margin: -14px 0 20px 12px
}

.star {
    font-size: 80px;
}

.driverLicense {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border-radius: 6px;
    margin: 14px;
}

.driverPic {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    align-items: center;
}

.driverInfo {
    color: white;
    margin: 10px 0 4px 12px;
}

.box {
    height: 160px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2em;
}

.dice {
    width: 100px;
}

.myButtons {
    display: flex;
    margin: 2px;
    padding: 6px;
}