.App {
  text-align: left;
  margin: 2%;
}


.idCard{
  display:flex;
  
  border: 1px solid black;
  margin: 10px 0;
}

.idCard > img {
  margin: 5px;
  width: 120px;
  height: 120px;
}

.idText {
  display: flex;
flex-direction: column;
justify-content: baseline;
}

.greetings{
  display:flex;
  
  border: 1px solid black;
  margin: 10px 0;
  padding: 0.5%;
}

.random{
  display:flex;
  
  border: 1px solid black;
  margin: 10px 0;
  padding: 0.1%;
}

.colorbox{
  text-align: center;
  border: 1px solid black;
  margin: 10px 0;
  
}

.creditCard{
  display:flex;

  border: 1px solid black;
  margin: 10px 0;
}

.rating {
  font-size: 160%;
}


.uk-card{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 25px;
  height: 300px;
  width: 300px;

}



span {
  font-size: 30px;
}

.likeB {
  box-sizing: content-box;
  display:inline;
  float:left;
}

.likeB button {
  background-color: blue;
  border: 3px solid white;
  height:50px;
  width:200px;
  font-family : inherit;
  font-size: 2em;
  color: white;
  border-radius: 5px;
  margin-left: 5px;
}

.likeB button:active {
  border: 4px solid gray;
}

.pic{
  margin: 10%;
  margin-left: 2px;
  margin-bottom: 2px;
}
.dice{
  width: 75%;
  height: 75%;
}
