.credit-card-div{
    width: 30%;
    border: 0px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ddbb55;
    color: white;
    margin: 10px;
}
.card-el-1{
    font-size: 2rem;
}
.card-el-2{
    justify-self: flex-start;
} 