.CreditCard {
  border-radius: 10px;
  width: 300px;
  height: 150px;
  margin: 3px;
  display: flex;
  flex-direction: column;
}

.CreditCard p {
  margin: 0;
}

.CreditCard-type {
  text-align: end;
  padding: 10px;
}

.CreditCard-number {
  text-align: center;
  padding-top: 40px;
}

.CreditCard-expiration {
  padding: 10px 0 0 10px;
  font-size: 12px;
}

.CreditCard-owner {
  font-size: 12px;
  padding-left: 10px;
}
