.card{
  display: flex;
  flex-direction: row;
  border: 1px solid;
  margin: 10px;
  padding: 5px;
}

.divPropiedades{
  display: flex;
  flex-direction: column;
}

.divPropiedades div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
}
h3 p{
  height: 5px;
  margin: 200px;
  padding: 0;
  align-items: center;
}
