/* index.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.IdCard{
  display: flex;
  border: 1px solid black;
}

.profileImg{
  padding: 10px;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.box p {
  margin:0;
}

.boxGeneric {
  display: flex;
  border: 1px solid black;
  justify-content: flex-start;
}

.cards {
  display: flex;
}

.creditCard {
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
}

.driverPicture {
  height: 200px;
}