body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-family: sans-serif;
  font-weight: 100;
}

h1, h2, h3, h4, h5 {
font-weight: 100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.3em;
  margin-bottom: 20px;
}

.container > header {
  margin-bottom: 40px;
}

.navbar {
  margin-bottom: 60px;
}

.nav-tabs {
  margin-top: 40px;
}

.idCard {
  border: 1px solid black;
  margin:20px 0px;
}

.photo-id  {
  width: 150px;
}