body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-cnt {
  padding: 10px;
}

.inner-card {
  display: flex;
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 10px;
}

.inner-card > img {
  width: 175px;
}

.inner-card-data {
  margin-left: 10px;
}