body {
  margin: 10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: start;
}

.box {
  border: 1px solid black;
  padding: 5px;
  margin-top: 10px;
  text-align: start;
}

.IdCard {
  display: flex;
}

.IdCard p {
  margin: 0 5px;
}

.color {
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
}

.card {
  margin: 10px;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  display: inline-block;
}

.card img {
  height: 20px;
}

.type {
  text-align: right;
}

.number {
  font-size: 1.9em;
  text-align: center;
  margin: 20px 0;
}

.details {
  text-align: left;
}
