* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 5vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(0,0,0,0.025);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin-top: 80px;
}

p {
  margin: 0;
  margin-top: 4px;
}

span {
  font-weight: 600;
}

button {
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
  font-size: 1rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-yellow-500 {
  color: #d69e2e;
}

.p-6 {
  padding: 1.5rem;
}

.w-24 {
  width: 6rem;
  height: 6rem;
}

.flex {
  display: flex;
  margin: 1rem 0;
  align-items: center;
}

.avatar {
  border-radius: 50%;
}

.card {
  margin: 2rem 0;
  display: flex;
  justify-content: flex-start;
  border-radius: 6px;
  padding: 16px;
}

.card p + p {
  margin-left: 24px;
}

.card--dark p {
  color: #FFF;
}

.card--credit {
  max-width: 300px;
  min-height: 160px;
  margin: 2rem 0;
  border-radius: 8px;
  padding: 16px;
}

.card--credit h2 {
  margin-top: 56px;
}

.card--credit__info {
  display: flex;
}

.card--credit__info p + p {
  margin-left: 16px;
}


.card img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.IdCard__text {
  margin-left: 24px;
}

.border {
  border: solid 1px rgba(0,0,0,0.15);
}

.drlicense {
  padding: 1.5rem;
  background: #455eb5;
  border-radius: 8px;
  color: #FFF;
}

.drlicense img {
  margin-right: 1.5rem;
}