body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* TITULOS
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

 */

/* IDCARD

.IdCard {
  display: -webkit-flex;
  display: flex;
}

.box {
  border: 1px solid #000;
  padding: 5px;
  margin: 10px 0;
} */

/* 
GREETINGS

.box {
  border: 1px solid #000;
  padding: 5px;
  margin: 10px 0;
}

div {
  display: block;
} */


/* RANDOM  */

/* .box {
  border: 1px solid #000;
  padding: 5px;
  margin: 10px 0;
}

div {
  display: block;
} */


