body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.IdCard {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 7px;
  margin-bottom: 20px;
  .list {
    list-style: none;
    text-align: start;
  }
}

.Greetings{
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid black;
  padding-left: 9px;
  text-align: start;
  margin-bottom: 10px;
}
.Random{
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid black;
  padding-left: 9px;
  text-align: start;
  margin-bottom: 10px; 
}
/* .BoxColor {
  max-width: 800px;
  margin: 0 auto;
} */
.Rating {
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid black;
  padding-left: 9px;
  text-align: start;
  margin-bottom: 10px;
}

.DriverCard{
  display: flex;
  background-color: rgb(79, 94, 177);
  border-radius: 30px;
  padding: 20px;
  color: white;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
  justify-content: center;
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 30px;
  }
  .driverCardInfo{
    text-align: start;
    width: 225px;
  }
}

.ClickablePicture {
  img {
    width: 150px;
  }
}

