body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  border: 2px solid black;
  display: flex;
}

.card-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1px;
}

.helloMessage {
  border: 2px solid black;
  display: flex;
}

.rgb-box {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid black;
}

.creditCard-container {
  display: flex;
  justify-content: center;
}

.creditCard {
  width: 30vw;
  margin: 10px;
  border-radius: 10px;
}

.creditCard-logo {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.creditCard-number {
  font-size: 2em;
}

.creditCard-expiry {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
}

.creditCard-bank {
  padding-left: 20px;
}

.creditCard-owner {
  display: flex;
  padding-left: 40px;
  position: relative;
  bottom: 20px;
}

.rating {
  display: flex;
  flex-direction: column;
  line-height: 1px;
  align-items: flex-start;
  padding-left: 10px;
}

.driver-card {
  background-color: #425cbb;
  border-radius: 10px;
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
}

.driver-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.driver-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.driver-info {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  line-height: 1px;
  align-items: flex-start;
}

h1 {
  display: flex;
  padding-left: 10px;
}