/* @import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Prata&display=swap&family'); */

/* base styles */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  color: #2d0060;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Prata', serif;
  color: #2d0060;
}

h1 {
  font-size: 2rem;
}

button {
  background-color: #d1b0b3;
  border: none;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  border-radius: 3px;
}
