body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.IdCard {
  display: flex;
  flex-direction: row;
  border: solid 1px;
  margin: 10px;
}

.profileData {
  text-align: left;
  line-height: 7px;
}

.profileImg {
  margin: 5px;
}

.greeting {
  border: solid 1px;
  margin: 10px;
  padding-left: 20px;
}

.random {
  border: solid 1px;
  margin: 10px;
  padding-left: 20px;
}

.boxColor {
  border: solid 1px;
  margin: 10px;
  padding-left: 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.creditCard {
  height: 200px;
  width: 350px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cardNumber {
  text-align: center;
  font-size: 25px;
  margin-bottom: -10px;
}

.cardInfo {
  line-height: 7px;
  margin-left: 20px;
  margin-bottom: 10px;
}

pre {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cardType {
  width: 60px;
  margin: 15px;
  float: right;
}

.stars {
  font-size: 35px;
}

.driverCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #455eb5;
  border-radius: 10px;
  margin: 10px;
  color: white;
}

.driverCardImg {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.driverCardData {
  text-align: left;
  line-height: 15px;
  margin: 10px;
}