body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.IdCard {
  border: 1px solid black;
  display: flex;
  text-align: left;
  max-width: 400px;
  margin: 10px;
}
.IdCard p {
  margin: 0;
  padding-left: 10px;
}

.Greetings {
  border: 1px solid black;
  max-width: 400px;
  text-align: left;
  margin: 10px;
}
.Greetings p {
  margin: 5px;
}

.Random {
  border: 1px solid black;
  max-width: 400px;
  text-align: left;
  margin: 10px;
}
.Random p {
  margin: 5px;
}

.BoxColor {
  border: 1px solid black;
  max-width: 400px;
  margin: 10px;
}
.BoxColor p {
  margin: 5px;
}

.CreditCard {
  margin: 10px;
  max-width: 270px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.card-logo{
  text-align: right;
}
.card-logo img {
  width: 40px;
  padding: 15px 15px 10px 0;
}

.CreditCard div:nth-child(2) {
  font-size: 1.4rem;
  margin-top: 10px;
}
.CreditCard div:nth-child(3) {
  font-size: 0.8rem;
}
.CreditCard div:nth-child(4) {
  font-size: 0.8rem;
}

.card-data {
  display: flex;
}
.card-data span {
  padding-top: 10px;
  padding-bottom: 6px;
}
.card-data span:first-child {
  padding-left: 10px;
  padding-right: 10px;
}
.card-owner {
  display: flex;
}
.card-owner span {
  padding-left: 10px;
  padding-bottom: 15px;
}

.Rating {
  margin: 10px;
  max-width: 100px;
}

.DriverCard {
  background-color: rgb(69,84, 181);
  display: flex;
  max-width: 400px;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.driver-image{
  position: relative;
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 5px;
}
.DriverCard img {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}
.DriverCard p {
  margin: 10px 0;
  margin-left: 5px;
  padding: 0;
}
.DriverCard p:first-child {
  font-size: 1.3rem;
  font-weight: bold;
}
.DriverCard p:nth-child(2) {
  font-size: 1.4rem;
}

.LikeButton {
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 10px;
  color: white;
  width: 100px;

}

.ClickablePicture {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.ClickablePicture img {
  width: 380px;
  padding: 5px;
}

.Dice {
  width: 400px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Dice img {
  width: 390px;
}

.Carousel {
  width: 400px;
  height: 200px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Carousel button {
  background-color: lightblue;
  border: none;
  height: 100%;
  width: 80px;
  font-size: 1.5rem;
}
.Carousel button:nth-child(1) {
  border-radius: 10px 0px 0px 10px;
}
.Carousel button:nth-child(3) {
  border-radius: 0px 10px 10px 0px;
}
.Carousel img {
  width: 200px;
  height: 200px;
}