.ListColorCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  justify-content: space-evenly;
}

.ListColorCards__wrapper {
  width: 100%;
}

.ListColorCards h2 {
  font-size: 3rem;
  margin-top: 3rem;
}

.ListColorCards article:last-of-type {
  margin-bottom: 4rem;
}
