.id-card {
  display: flex;
  padding: 5px;
  border: 2px #000 solid;
  margin-bottom: 10px;
}

.id-card img {
  margin-right: 5px;
  width: 150px;
  height: auto;
}

.details p {
  line-height: 0.4rem;
}

.bold {
  font-weight: bold;
}
