.boxcolors {
    border: 2px solid black;
    margin: 0 0 10px 5px;
}
.boxcolors-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.boxcolors-content p {
    margin: 0;
    padding: 0;
}
