.DriverCard {
    height: 300px;
    width: 100%;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: blue;
}

.DriverCard img {
    width: 100px;
    border-radius: 150px;

}