.DriverCard {
    background-color: #425cbb;
    border-radius: 10px;
    color: #fff;
    padding: 15px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 10px;
}

.imgRounded {
    width:150px;
    height:150px;
    border-radius:160px;
    border:1px solid #666;
}
