.DriverCard {
    padding: 1px;
    width: 30%;
    border: 1px solid;
    display: inline-block;
    border-radius: 10px;
    height: 350px;
    margin-right: 10px;
    margin-top: 10px;
}

.DriverCard img {
    width: 100%;
    object-fit: cover;
    height: 200px;
    border: 3px solid;
    border-radius: 10px;
}