.driveCard {
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(86, 86, 171);
}


.driveCard img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}