.DriverCard {
    display: flex;
    width: 600px;
    margin: 10px auto;
    padding: 10px;
    background-color: #455EB5;
    border-radius: 8px;
    justify-content: center;
    color: white;
    align-items: center;
}


.DriverCard img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.DriverCard h2 {
    margin-bottom: 0px;
    margin-top: 0px;
}