.card {
    border: black 2px solid;
    display: flex;
    padding: 10px;
    margin: 10px;
}

.display-flex {
    display: flex;
    align-items: center;
}

.informations > div {
    margin-bottom: 0;
}